@use "../constant//size" as size;

@mixin HEADER {
  font-size: size.$TEXT_LG;
  font-weight: 700;
  line-height: 21px;
}

@mixin BODY1 {
  font-size: size.$TEXT_MD;
  font-weight: 400;
  line-height: 16px;
}

@mixin BODY2 {
  font-size: size.$TEXT_SM;
  font-weight: 400;
  line-height: 13px;
}
