// Main
$MAIN1: #2f3396;
$MAIN2: #2f3396;
$MAIN3: #e0c8dd;

// Gray Scale
$GRAY1: #c6ccd8;
$GRAY2: #c6ccd8;
$GRAY3: #9da5b0;
$GRAY4: #2f3b51;

// Black & White
$BLACK: #041516;
$WHITE: #f6f7f9;
$BASIC_WHITE: #fff;

// Sub Color
$TAG1: #d1e9f3;
$TAG2: #bee8ba;
$TAG3: #f8d6b7;
