@use "../../styles/mixins/typography" as typo;
@use "../../styles/constant/colors" as color;
@use "../../styles//constant/size" as size;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald, Monument Extended, Spoqa Han Sans Neo;
  color: color.$BASIC_WHITE;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  height: 200px;
  background-color: color.$MAIN1;
  letter-spacing: 0.105em;

  transition: 0.5s;
}
