@use "../../styles/constant/colors" as color;

.tag {
  display: inline-block;
  padding: 2px 10px 2px 10px;
  border-radius: 105px;
  background-color: color.$MAIN3;

  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  text-align: center;
  align-self: start;

  span {
    color: white;
  }
}
