// Global styles
@use "constant/colors" as color;
@import "base/reset";
@import "base/fonts";
@import "base/notion";

.content {
  min-height: calc(100vh - 256px);
  padding-bottom: 125px;
  background-color: color.$WHITE;
  transition: background-color 0.5s;
}

.playground-content {
  background-color: color.$WHITE;
  transition: background-color 0.5s;
}

.darkmode {
  color: white;
  background-color: color.$BLACK;

  // container with darkmode
  .content {
    background-color: rgb(40, 40, 44);
  }
}
